<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.springboot.model.Users">
        <id column="uid" jdbcType="INTEGER" property="uid" />
        <result column="uname" jdbcType="VARCHAR" property="uname" />
    </resultMap>
    <sql id="Base_Column_List">
        uid, uname
    </sql>

    <insert id="insertSelective" parameterType="com.springboot.model.Users">
        INSERT INTO `users` (`uname`)
        VALUES (#{uname, jdbcType=VARCHAR})
    </insert>
</mapper>